body {
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
  }
  

.center {
    padding-left: calc(50% - 540px);
    padding-right: calc(50% - 540px);
}


.h1 {
    font-family: 'Russo One', sans-serif;
    color: #000;
    font-size: 100px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4px;
    width: 613px;
}

.h2 {
    font-family: 'Russo One', sans-serif;
    color: #000;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header {
    background-color: #000;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.navigation {
    flex-shrink: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
}

.link_header {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.content {
   display: flex;
   align-items: center;
   height: 517px;
   background-image: url(images/my_photo.png);
   background-size: 50%;
   background-position: right center;
   background-repeat: no-repeat;
   padding-left: 85px;
   padding-right: 567px;
 
}



.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    padding-top: 151px;
    padding-bottom: 151px;
}

.about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 150px;
}


.about_content2{
    display: flex;
    align-items: center;
    gap: 300px;
    align-self: stretch;
}


.icons {
      display: flex;
      gap: 40px;
      align-items: center;

}

.p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px
}

ul {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    list-style-position: inside;
}



.portfolio {
    padding-top: 151px;
    padding-bottom: 151px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio img {
    margin-top: 41px;
}

.education {
    background: #F4F4F4;
    padding-top: 151px;
    padding-bottom: 151px;  
}

.education_content {
    margin-top: 40px;  
}

.education_all {
    margin-top: 51px;
    display: flex;
    gap: 50px;
}

.contacts {
    padding-top: 151px;
    padding-bottom: 151px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    padding-top: 151px;
    padding-bottom: 151px;
  
}

.footer {
    background-color: #000;
    background: #000000;
    display: flex;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 17px;
    gap: 29px;
}

.link_footer {
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

@media (max-width: 768px) {
    
    .center {
        padding-left: calc(50% - 360px);
        padding-right: calc(50% - 360px);
      }
    
      .about{
        gap: 10px;
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .h1{
        font-size: 50px;
    }
    .icons{
        gap: 20px;
    }
    
    .portfolio {
        padding-left: 40px;
        padding-right: 40px;
    }

    .about_content{
        margin-left: 10px;
        margin-right: 10px;
        gap: 60px;
    }

    .about_content2{
        gap: 60px;
        max-width: 750px;
        margin: 0 auto;
        flex-direction: column;
    }

    .education {
        max-width: 768px;
    }

    .education_all  {
        flex-direction: column;
        margin-left: 0%;
        flex-wrap: wrap;
        gap: 0px;
        margin-left: 100px;
        margin-right: 100px;
    }
    }
